body {
  display: grid;
  place-items: center;
}

.container {
  width: 500px;
  height: 350px;
  background-color: #EEE;
  border: 5px solid #333;
  overflow: hidden;
  display: grid;
  place-items: center;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.container:hover {
  background-color: #ffe656;
}

.container img {
  width: 100px;
  border-radius: 50%;
  background-color: #FFF;
  padding: 40px;
  transform: rotate(15deg);
  transition: transform .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
}
.container img:hover {
  transform: rotate(-20deg) scale(1.2);
}
.container img:active {
  transform: rotate(15deg) scale(.9);
}
